.vdot {
  border: 1px solid lightgrey;
  border-radius: var(--global-border-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
}

.vdot__title {
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  place-items: center;
}

.vdot__subtext {
  color: grey;
}
.vdot__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.vdot__input_flexbox {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.vdot__input__label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vdot__input__race {
  padding: 0.75rem;
  border-radius: var(--global-border-radius);
  border: 1px solid lightgray;
  margin-top: 6px;
}

.vdot__input__distance {
  padding: 0.75rem;
  border-radius: var(--global-border-radius);
  border: 1px solid lightgray;
  margin-top: 6px;

  background-color: white;
}

.vdot__calculate__button {
  border-radius: var(--global-border-radius);
  padding: 0.75rem;
  color: white;
  background-color: var(--steel-azure);
  text-align: center;
}
