.vdot__input__label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vdot__input__race {
  padding: 0.75rem;
  border-radius: var(--global-border-radius);
  border: none;
  background-color: #f2f2f2;
  margin-top: 6px;
}

.vdot__input__distance {
  padding: 0.75rem;
  border-radius: var(--global-border-radius);
  margin-top: 6px;
  border: none;
  background-color: #f2f2f2;
}
