.vdot__score__title {
  margin: 0;
  font-weight: 500;
}

.vdot__paces__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.vdot__paces__table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vdot__paces__headers {
  display: flex;
  color: gray;
  padding: 10px;
}

.vdot__paces__headers span {
  flex: 1;
}

.vdot__paces__row {
  display: flex;
  padding: 15px;
  border-radius: 15px;
}

.vdot__paces__row span {
  flex: 1;
}

.vdot__paces__row span:first-child {
  color: var(--steel-azure);
}

.vdot__paces__table div:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 15px;
}
