.vdot__score__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 6px solid var(--steel-azure);
  height: 120px;
  width: 120px;
}
