.vdot {
  border: 1px solid lightgrey;
  border-radius: var(--global-border-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
}

.vdot__title {
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  place-items: center;
}

.vdot__subtext {
  color: grey;
}
