.vdot__popup__container {
  position: absolute;
  border: 1px solid grey;
  min-width: 350px;
  font-size: 16px;
  border-radius: 15px;
  background-color: white;
  padding: 1rem;
  top: -200%;
  left: 35px;
  line-height: 1.5;
}
