.header {
  font-weight: 600;
  color: rgb(51, 51, 53);
}

.header__span {
  font-weight: 600;
  color: var(--tiger-orange);
  text-decoration: underline;
}

.header__button {
  border-radius: var(--global-border-radius);
  padding: 0.75rem;
  border: 1px solid lightgrey;
  color: rgb(51, 51, 53);
  background-color: white;
}
