.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 30px;
}

.header__title__container {
  font-size: 50px;
  display: inline-block;
  margin: 0;
}
.header__title {
  font-weight: 600;
}

.header__title__subtext {
  color: #5b5b5b;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  max-width: 65%;
  margin: 0;
}

.header__button__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header__button__get__started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 45px;
  padding: 0px 15px 0px 15px;
  border: none;
  border-radius: var(--global-border-radius);
  color: white;
  background-color: var(--tiger-orange);
  font-weight: 500;
}

.header__button__how__it__works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 45px;
  padding: 0px 15px 0px 15px;
  border-radius: var(--global-border-radius);
  border: 1px solid lightgray;
  color: black;
  background-color: white;
}
