.toggle_input {
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: lightgray;
  display: flex;
  position: relative;
  border-radius: 75px;
  cursor: pointer;
  transition: background 0.3s ease;
  align-items: center;
}

.toggle_input::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.toggle_input:checked::before {
  transform: translateX(23px);
}

.toggle_input:checked {
  background-color: var(--steel-azure);
}
