:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: rgb(51, 51, 53);
  --global-border-radius: 8px;
  --lavender-grey: #909cc2ff;
  --steel-azure: #084887ff;
  --tiger-orange: #f58a07ff;
  --sandy-brown: #f9ab55ff;
  --ghost-white: #f7f5fbff;
}

button {
  all: unset;
  cursor: pointer;
}
