:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #eef3f6;
  color: rgb(45, 45, 70);
  --global-border-radius: 15px;
  --lavender-grey: #00a7e1;
  --steel-azure: #0474ba;
  --tiger-orange: #f17720;
  --sandy-brown: #ffa630;
  --ghost-white: #f2f2f2;
}

button {
  all: unset;
  cursor: pointer;
}
